h1 {
    padding-right: 20px;
    text-decoration-color: rgb(255, 8, 0);
    color: rgb(29, 53, 160);
    font-weight: bold;
}

h2 {
    text-decoration-color: rgb(255, 8, 0);
    color: rgb(29, 53, 160);
    font-weight: bold;
}