h1 {
    padding-right: 20px;
    text-decoration-color: rgb(255, 8, 0);
    color: rgb(150, 50, 50);
    font-weight: bold;
}

h2 {
    text-decoration-color: rgb(255, 8, 0);
    color: rgb(155, 50, 50);
    font-weight: bold;
}