h1 {
    padding-left: 20px;
    color: rgb(250, 50, 50);
}

p {
    padding-left: 20px;
    color: rgb(250, 50, 50);
}

div {
    padding-left: 20px;
}

header {
    padding-left: 20px;
    padding-top: 40px;
}

